# 遍历整个列表

In [4]:
magicians=["ailce","david","bob"]
for magician in magicians:
    print(magician) #首行缩进，自动缩进四个字符

ailce
david
bob

In [16]:
magicians=["ailce","david","bob"]
for magician in magicians:
    print(magician)  
    print(f"{magician.title()},that was a great trick!")
    print(f"I can't wait to see more, {magician.title()}.\n")   
print("Thank you, everyone!We love you.")

ailce
Ailce,that was a great trick!
I can't wait to see more, Ailce.

david
David,that was a great trick!
I can't wait to see more, David.

bob
Bob,that was a great trick!
I can't wait to see more, Bob.

Thank you, everyone!We love you.

In [19]:
pizzas=['chicken pizza','pepperoni pizza','shrimp pizza']
for pizza in pizzas:
    print(pizza)
    print(f"I like {pizza}!\n")
    
print("I really love pizza!") #书上习题

chicken pizza
I like chicken pizza!

pepperoni pizza
I like pepperoni pizza!

shrimp pizza
I like shrimp pizza!

I really love pizza!

# range

In [32]:
for value in range (1,6):
    print(value)

1
2
3
4
5

list 与 range 的转换

In [29]:
nums=list(range(4))
print(nums)

[0, 1, 2, 3]

range函数,还可以指定步长

In [31]:
even_numbers=list(range(2,10,2))
print(even_numbers) #2 开始数，然后不断地加 2，直到达到或超过终值（10)

[2, 4, 6, 8]

In [2]:
squares=[]
for value in range(1,11):
    squares.append(value**2)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
squares=[]
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

列表推导式

In [38]:
squares=[value for value in range(1,11)]#推导式用方括号！！！
print(squares)
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

计算

In [39]:
nums=[1,2,35,7]
print(min(nums))
print(max(nums))
print(sum(nums))

1
35
45

使用列表的一部分，切片

# slice 切片

In [40]:
players=("milly","emily","sunny","kimi")
print(players[0:3])

('milly', 'emily', 'sunny')

In [43]:
players=("milly","emily","sunny","kimi")
print(players[-2:])

('sunny', 'kimi')

In [28]:
players=("milly","emily","sunny","kimi")
print(players[-2:])

('sunny', 'kimi')

In [27]:
players=("milly","emily","sunny","kimi")
print(players[1:3])
for player in players[:3]:
    print(player.title())

('emily', 'sunny')
Milly
Emily
Sunny

深拷贝和浅拷贝,复制

In [52]:
my_food=["felefal","pepperoni","pizza"]
friend_food=my_food[:]
my_food.append("lemonade")
friend_food.append("sandwich")
print("My favourite foods are:")
print(my_food)
print("\nMy friend's favourite foods are:")
print(friend_food)

My favourite foods are:
['felefal', 'pepperoni', 'pizza', 'lemonade']

My friend's favourite foods are:
['felefal', 'pepperoni', 'pizza', 'sandwich']

In [53]:
my_food=["felefal","pepperoni","pizza"]
friend_food=my_food
my_food.append("lemonade")
friend_food.append("sandwich")
print("My favourite foods are:")
print(my_food)
print("\nMy friend's favourite foods are:")
print(friend_food)

My favourite foods are:
['felefal', 'pepperoni', 'pizza', 'lemonade', 'sandwich']

My friend's favourite foods are:
['felefal', 'pepperoni', 'pizza', 'lemonade', 'sandwich']

# 元组

In [54]:
#圆括号#元组几乎不能改
dimensions=(200,15)
print(dimensions[0])
print(dimensions[1])

200
15

作业

In [10]:
nums=[value for value in range(1,21) ]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
nums=(list(range(1,100)))
for value in nums:
    print (value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [18]:
nums=(list(range(1,100)))
print(min(nums))
print(max(nums))
print(sum(nums))

1
99
4950

In [21]:
nums=list(range(1,20,2))
for num in nums:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
nums=list()#3 的倍数　创建一个列表，其中包含 3～30 内能被 3 整除的
数，再使用一个 for 循环将这个列表中的数打印出来

In [22]:
nums=list(range(11))
for value in nums:
    print(value**3)

0
1
8
27
64
125
216
343
512
729
1000

In [24]:
squares=[value**3 for value in range(11)]
print(squares)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
nums=